<h3>Reset password</h3>

Hi {{ name }}!<br><br>

Your password reset code is: <br>{{ code }}<br><br>
<a href="{{ url('resetPassword') }}/{{ code }}">Link to reset password</a><br><br>
The code will expire: {{ exp }}<br>
If it's not you, ignore this email.<br><br>

Best regards,<br>

{{ site_name }}